.content{
    padding: 60px 0;
    &.pt-60{padding-top: 60px;}
    &.pt-30{padding-top: 30px;}
    &.pt-0{padding-top: 0px;}
    &.pb-60{padding-bottom: 60px;}
    &.pb-30{padding-bottom: 30px;}
    &.pb-0{padding-bottom: 0px;}
    /* Background & Border */
    &_bg-grey{
        background: $light-grey;
    }
    /* Elements */
    .content__title{
        margin-bottom: 60px;
        &.mb-30{
            margin-bottom: 30px;            
        }
    }
    &.p-90{
        padding: 90px 0;
    }
}
.element{
    &_ellips{
        width: 200px;
        height: 200px;

        position: absolute;
        top: -80px;
        left: 30px;
    }
    &_square{
        width: 150px;
        height: 150px;

        position: absolute;
        bottom: -120px;
        right: -120px;
    }
}
.maps{
    padding-top: 30px;
    &-info{
        position: absolute;
        top: -30px;
        left: 0;
        
        padding: 20px;

        background: $white;
        border: 1px solid $light-grey;
        border-radius: 4px;

        text-align: center;
    }
}