.content{
    padding: 60px 0;
    /* Offset */
    &.pt-60{padding-top: 60px;}
    &.pt-30{padding-top: 30px;}
    &.pt-0{padding-top: 0px;}
    &.pb-60{padding-bottom: 60px;}
    &.pb-30{padding-bottom: 30px;}
    &.pb-0{padding-bottom: 0px;}
    &.p-90{padding: 90px 0;}
    /* Background & Border */
    &_bg-grey{
        background: $light-grey;
    }
    &_bg-violet{
        background: $violet;
        color: $white;
        
        .form__agree{
            color: $light-grey;
            .checkbox__link{
                color: $white;
            }
        }
    }
    
    /* Elements */
    .content__title{
        margin-bottom: 60px;
        &.mb-30{
            margin-bottom: 30px;            
        }
    }
    .content__offer{
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }
}
.element{
    &_ellips{
        width: 200px;
        height: 200px;

        position: absolute;
        top: -80px;
        // left: 30px;
        left: - 220px;
    }
    &_square{
        width: 150px;
        height: 150px;

        position: absolute;
        bottom: -120px;
        // right: -120px;
        right: -180px;
    }
}
.maps{
    padding-top: 30px;
    &-info{
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;

        padding: 20px;

        background: $white;
        border: 1px solid $light-grey;
        border-radius: 4px;

        text-align: center;
    }
    .icon-1{background: url("/img/icon-5.svg") no-repeat left center / 32px; padding: 8px 0px 8px 38px;}
    .icon-2{background: url("/img/icon-2.svg") no-repeat left center / 32px; padding: 8px 0px 8px 38px;}
    .icon-3{background: url("/img/icon-3.svg") no-repeat left center / 32px; padding: 8px 0px 8px 38px;}
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .maps{
        &-info{
            top: -75px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .element{
        &_square{
            // bottom: -150px;
            // right: 0;
            bottom: -100px;
            right: -140px;
        }
        &_ellips{
            // left: 0;
        }
    }
    .maps{
        &-info{
            top: -80px;
            padding: 10px 20px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .content{
        /* Offset */
        &.p-md-40{padding: 40px 0;}
    }
    .element{
        &_ellips{
            // top: -60px;
            // left: 0px;
            display: none;
        }
        &_square{
            display: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .content{
        padding: 40px 0;
        /* Offset */
        &.pt-sm-30{padding-top: 30px;}
        &.pt-sm-0{padding-top: 0px;}
        &.pb-sm-30{padding-bottom: 30px;}
        &.pb-sm-0{padding-bottom: 0px;}
        &.p-sm-40{padding: 40px 0;}
    }
    .maps{
        border-top: 1px solid $light-grey;
        &-info{
            position: unset;
            top: 0;
            left: 0;
            padding: 0 0 30px;
            border: none;
        }
    }
}