.content{
    padding: 60px 0;
    &.pt-60{padding-top: 60px;}
    &.pt-30{padding-top: 30px;}
    &.pt-0{padding-top: 0px;}
    &.pb-60{padding-bottom: 60px;}
    &.pb-30{padding-bottom: 30px;}
    &.pb-0{padding-bottom: 0px;}
    /* Background & Border */
    &_bg-grey{
        background: $light-grey;
    }
    /* Elements */
    .content__title{
        margin-bottom: 60px;
        &.mb-30{
            margin-bottom: 30px;            
        }
    }
    .content__maps{
        max-width: 100%;
    }
}
.element{
    &_ellips{
        width: 200px;
        height: 200px;

        position: absolute;
        top: -80px;
        left: 30px;
    }
    &_square{
        width: 150px;
        height: 150px;

        position: absolute;
        bottom: -80px;
        right: 120px;
    }
}