.header-block{
    background: $light-grey;
    padding: 30px 0;

    &__title{
        color: $black;
        width: 920px;
        max-width: 100%;
        margin: 0 auto 30px;
    }
    &__offer{
        @extend .lead;
        max-width: 100%;
        width: 720px;
        margin: 0 auto;
    }
    &__content{
        margin-bottom: 30px;
        &.icon-block{
            width: 1120px;
            max-width: 100%;
            margin: 0 auto 30px;
        }
        .icon-block__offer{
            width: 180px;
            max-width: 100%;
        }
    }
    &__rating{
        .title{
            padding-left: 40px;
            background: url("/img/star.svg") no-repeat left center / 30px;
            @extend .h4;
            @extend .text-bold;
        }
        .offer{
            color: $grey;
        }
    }
    .list{
        &-item{
            &:before{
                background: $black;
            }
        }
    }
    .clip-svg{
        clip-path: url(#myClip);
    }
    /* Background */
    &_bg-white{
        background: $white;
    }
    /* For index page */
    &_index{
        background: $light-grey url("/img/bg-header.jpg") no-repeat center / cover;
        padding: 60px 0;
    }
    /* For error page */
    &_error{
        background: $light-grey;
        padding: 90px 0;
        text-align: center;
        .header-block__title{
            color: $red;
            font-size: 100px;
            font-weight: 700;
        }
        .header-block__subtitle{
            color: $violet;
            font-size: 32px;
            font-weight: 700;
        }
        .link{
            color: $red;
        }
    }
    /* For study page*/
    &_study{
        background: $white;
    }
    /* For text page */
    &_inside{
        padding: 60px 0;
    }
    /* For Section Page */
    &_title{
        padding: 30px 0;
        .header-block__title{
            width: 100%;
            margin: 0;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header-block{    
        &__title{
            font-size: 1.75rem;
        }
    }
}