footer.footer
    .container
        .row
            .col-3.col-sm-12.col-md-12.col-lg-12
                include logo.pug
            .col-6.col-sm-12.col-md-7.col-lg-8
                 .nav.nav_footer
                        .nav__item
                            a.nav__link(href="#") Центр обучения и аттестации
                        .nav__item
                            a.nav__link(href="#") Документы
                        .nav__item
                            a.nav__link(href="#") Лицензирование
                        .nav__item
                            a.nav__link(href="#") О центре
                        .nav__item
                            a.nav__link(href="#") Сертификация
                        .nav__item
                            a.nav__link(href="#") Контакты
            .col-3.col-sm-12.col-md-5.col-lg-4.text-right.text-sm-left
                .footer__contact
                        .item.mb-20
                            a.footer__link.footer__link_phone(href="#") 8 812 000 11 77
                        .item Санкт-Петербург
                        .item.mb-20
                            a.footer__link(href="#") info@smart.ru
                        .item
                            a.footer__link(href="#") Сведения об образовательной организации