.header
    .header__additional
        .container
            .row.align-items-center
                .col-6
                    a.header__link.text-small(href="#") Сведения об образовательной организации
                .col-6
                    .header__contact
                        .item Санкт-Петербург
                        .item
                            a.header__link.header__link_inverse(href="#") info@smart.ru
header.header.header_sticky
    .header__main
        .container
            .row.align-items-center
                .col-3.col-sm-6.col-md-5.col-lg-3.logo-col
                    include logo.pug
                .col-6.col-lg-7.d-md-none
                    .nav.nav_header
                        .nav__item.nav__item_has-child
                            a.nav__link.nav__link_parent(href="#" data-href="#study") Обучение
                            .nav__dropdown#study(style="display:none")
                                .nav__item
                                    a.nav__link(href="#") Повышение квалификации
                                .nav__item
                                    a.nav__link(href="#") Профпереподготовка
                                .nav__item
                                    a.nav__link(href="#") Первая помощь
                                .nav__item
                                    a.nav__link(href="#") Рабочие специальности
                                .nav__item
                                    a.nav__link(href="#") Охрана труда
                                .nav__item
                                    a.nav__link(href="#") Целевое обучение
                                .nav__item
                                    a.nav__link(href="#") Электробезопасность
                                .nav__item
                                    a.nav__link(href="#") Промышленная безопасность
                                .nav__item
                                    a.nav__link(href="#") Охрана труда на высоте
                                .nav__item
                                    a.nav__link(href="#") Пожарно-технический минимум
                        .nav__item.nav__item_has-child
                            a.nav__link.nav__link_parent(href="#" data-href="#service") Услуги
                            .nav__dropdown#service(style="display:none")
                                .nav__item
                                    a.nav__link(href="#") Служба охраны труда
                                .nav__item
                                    a.nav__link(href="#") Сертификация
                                .nav__item
                                    a.nav__link(href="#") Лицензирование 
                                .nav__item
                                    a.nav__link(href="#") Специальная оценка условий труда
                        .nav__item
                            a.nav__link(href="#") Документы
                        .nav__item
                            a.nav__link(href="#") О центре
                        .nav__item
                            a.nav__link(href="#") Контакты
                .col-3.col-sm-3.col-md-5.col-lg-2.text-right
                    a.header__link.header__link_phone(href="tel:8 812 000 11 77") 8 812 000 11 77
                .col-3.col-sm-3.col-md-2.text-right
                    .header__nav#mobile-nav
    .nav.nav_mobile
        span.nav__title Обучение
        .nav__item
            a.nav__link(href="#") Повышение квалификации
        .nav__item
            a.nav__link(href="#") Профпереподготовка
        .nav__item
            a.nav__link(href="#") Первая помощь
        .nav__item
            a.nav__link(href="#") Рабочие специальности
        .nav__item
            a.nav__link(href="#") Охрана труда
        .nav__item
            a.nav__link(href="#") Целевое обучение
        .nav__item
            a.nav__link(href="#") Электробезопасность
        .nav__item
            a.nav__link(href="#") Промышленная безопасность
        .nav__item
            a.nav__link(href="#") Охрана труда на высоте
        .nav__item
            a.nav__link(href="#") Пожарно-технический минимум
        .sep
        span.nav__title Услуги
        .nav__item
            a.nav__link(href="#") Служба охраны труда
        .nav__item
            a.nav__link(href="#") Сертификация
        .nav__item
            a.nav__link(href="#") Лицензирование 
        .nav__item
            a.nav__link(href="#") Специальная оценка условий труда
        .sep
        .nav__item
            a.nav__link(href="#") Документы
        .nav__item
            a.nav__link(href="#") О центре
        .nav__item
            a.nav__link(href="#") Контакты