@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&subset=cyrillic");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Gilroy", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  text-align: left;
  background: #ffffff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 40px;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #232323;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ef081e;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #242424;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5em;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Light.eot");
  src: url("/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-Light.woff") format("woff"), url("/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-ExtraBold.eot");
  src: url("/fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Gilroy-ExtraBold.woff") format("woff"), url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-size: 14px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .header-block__rating .title, .h5, .h6 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, .header-block__rating * + .title, * + .h5, * + .h6 {
  margin-top: 1.5rem;
}

.h1, h1 {
  font-size: 2.75rem;
}

.h2, h2 {
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 2rem;
}

.h4, .header-block__rating .title, h4 {
  font-size: 1.75rem;
}

.h5, h5 {
  font-size: 1.5rem;
}

.h6, h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

p.small {
  font-size: .9em;
}

p.lead {
  font-size: 1.15em;
}

ol, ul {
  padding: 0;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
}

a {
  display: inline-block;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a:hover, a:focus {
  outline: none;
}

.p-relative {
  position: relative;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
  background: #ffffff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-grey {
  color: #56585a;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold, .header-block__rating .title, strong, b {
  font-weight: 700;
}

.text-small, .breadcrumbs, small, .small {
  font-size: 12px;
  line-height: 16px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.img-fluid {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.img-border {
  border: 4px solid #655d6a;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs .breadcrumbs__item {
  padding: 10px 4px;
  color: #56585a;
}

.breadcrumbs .breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs-section {
  background: #f3f3f3;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination .pagination__item {
  margin-right: 10px;
}

.pagination .pagination__link {
  border: 1px solid #2f3236;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.pagination .pagination__link--active {
  border: 2px solid #ef081e;
  color: #ef081e;
  font-weight: 700;
}

.pagination .pagination__link:hover {
  text-decoration: none;
  background: #f3f3f3;
}

.blockquote, blockquote {
  padding: 30px;
  background: #f3f3f3;
  border-left: 4px solid #56585a;
}

.mt-0 {
  margin-top: 0px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.pt-0 {
  padding-top: 0px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

@media all and (max-width: 992px) {
  .mt-lg-30 {
    margin-top: 30px;
  }
  .ml-lg-0 {
    margin-left: 0px;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
}

@media all and (max-width: 768px) {
  .d-md-none {
    display: none;
  }
  .mt-md-30 {
    margin-top: 30px;
  }
  .mb-md-30 {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
}

@media all and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .h1, h1 {
    font-size: 1.75rem;
  }
  .h2, h2 {
    font-size: 1.75rem;
  }
  .h3, h3 {
    font-size: 1.5rem;
  }
  .h4, .header-block__rating .title, h4 {
    font-size: 1.5rem;
  }
  .h5, h5 {
    font-size: 1.25rem;
  }
  .h6, h6 {
    font-size: 1rem;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-small {
    font-size: 12px;
  }
  .mt-sm-15 {
    margin-top: 15px;
  }
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media all and (max-width: 1400px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.header_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 101;
}

.header__additional {
  position: relative;
  z-index: 1;
  background: #f3f3f3;
  letter-spacing: 1px;
  color: #2f3236;
  padding: 10px 0;
}

.header__main {
  padding: 20px 0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
  width: 230px;
  height: 32px;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header .header__contact .item + .item {
  margin-left: 30px;
}

.header .header__link_inverse {
  color: #ef081e;
}

.header .header__link_inverse:hover {
  color: #2f3236;
}

.header .header__link_phone {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header .header__link_phone:hover {
  text-decoration: none;
}

.header .header__nav {
  display: none;
}

.header .nav_mobile {
  display: none;
}

@media all and (max-width: 992px) {
  .header .logo .path-offer {
    display: none;
  }
  .header .header__link_phone {
    display: block;
    font-size: 0;
    width: 30px;
    height: 30px;
    background: url("/img/call-answer.svg") no-repeat center/20px;
    margin-left: auto;
  }
}

@media all and (max-width: 768px) {
  .header .logo {
    width: 190px;
  }
  .header .logo-col {
    overflow: hidden;
  }
  .header .logo .path-offer {
    display: block;
  }
  .header .nav {
    display: none;
  }
  .header .nav_mobile {
    padding: 20px;
    border-bottom: 4px solid #f3f3f3;
  }
  .header .nav_mobile .nav__title {
    position: relative;
    display: block;
    color: #56585a;
    padding: 8px 0 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .header .nav_mobile .nav__title:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url("/img/arrow-next.svg") no-repeat center/contain;
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .header .nav_mobile .nav__title--active {
    color: #ef081e;
  }
  .header .nav_mobile .nav__title--active:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .header .nav_mobile .nav__item {
    font-weight: 700;
    letter-spacing: 2px;
  }
  .header .nav_mobile .nav__item + .nav__item {
    margin-top: 10px;
  }
  .header .nav_mobile .sep {
    width: 100%;
    height: 1px;
    background: #f3f3f3;
    margin: 10px 0;
  }
  .header .nav_mobile .nav__hidden {
    display: none;
  }
  .header .header__nav {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    margin-left: auto;
    background: url("/img/menu.svg") no-repeat center/22px;
    cursor: pointer;
  }
  .header .header__link_phone {
    display: block;
    font-size: 18px;
    width: 100%;
    height: auto;
    background: none;
  }
}

@media all and (max-width: 576px) {
  .header__additional .container {
    padding: 0 20px;
  }
  .header__main .container {
    padding: 0 20px;
  }
  .header .logo .path-offer {
    display: none;
  }
  .header .header__contact {
    font-size: 12px;
  }
  .header .header__link_phone {
    display: block;
    font-size: 0;
    width: 30px;
    height: 30px;
    background: url("/img/call-answer.svg") no-repeat center/20px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav .nav__item_has-child {
  position: relative;
}

.nav .nav__link {
  font-size: 12px;
  letter-spacing: 1px;
}

.nav .nav__link:hover {
  text-decoration: none;
}

.nav_header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav_header .nav__link {
  color: #232323;
  text-transform: uppercase;
  font-weight: 700;
}

.nav_header .nav__link:hover {
  color: #ef081e;
}

.nav_header .nav__link--active {
  color: #ef081e;
}

.nav_button {
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav_button .nav__item {
  padding: 10px;
}

.nav_button .nav__link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 10px;
  background: #ef081e;
  color: #ffffff;
}

.nav_button .nav__link:before {
  content: 'Подробнее';
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: #22172a;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.nav_button .nav__link:hover:before {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.nav .nav__dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: #fff;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.nav .nav__dropdown .nav__link {
  text-transform: none;
  white-space: nowrap;
}

.nav .nav__dropdown .nav__item + .nav__item {
  margin-top: 8px;
}

@media all and (max-width: 576px) {
  .nav_button .nav__item {
    padding: 5px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list .list-item {
  position: relative;
  padding-left: 1.25rem;
}

.list .list-item:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #21dfac;
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
}

.list .list-item + .list-item {
  margin-top: .5rem;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-group .list {
  padding: 0 20px;
}

.list-clean {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media all and (max-width: 576px) {
  .list-group {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-group .list {
    padding: 0;
  }
  .list-group .list + .list {
    margin-top: .5rem;
  }
}

.form {
  margin: 0;
  padding: 0;
}

.form__input {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.form__input + .form__input {
  margin-top: 15px;
}

.form__input + .btn {
  margin-top: 30px;
}

.form__group + .form__group {
  margin-top: 15px;
}

.form__group + .btn {
  margin-top: 30px;
}

.form__agree {
  margin-top: 1rem;
  font-size: 12px;
  color: #56585a;
}

.form_inline .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.form_inline .form__group .form__input + .btn {
  margin-top: 0;
  margin-left: 20px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label:after {
  content: '';
  display: block;
  background-color: #ef081e;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 4px;
  top: 3px;
}

.checkbox__label {
  position: relative;
  margin: 0;
  padding-left: 28px;
  line-height: 12px;
  cursor: pointer;
}

.checkbox__label:before {
  content: '';
  display: block;
  border: 1px solid #f3f3f3;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox__link {
  text-decoration: underline;
}

@media all and (max-width: 576px) {
  .form_inline .form__group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .form_inline .form__group .form__input + .btn {
    margin-top: 20px;
    margin-left: 0px;
  }
  .form_inline .form__group .btn {
    width: 100%;
  }
}

.btn {
  max-width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 1em;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 20px 50px;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn_default {
  background: #22172a;
  color: #ffffff;
}

.btn_default:hover {
  background: #372544;
  color: #ffffff;
}

.btn_cta {
  background: #ef081e;
  color: #ffffff;
}

.btn_cta:hover {
  background: #c80719;
  color: #ffffff;
}

.btn_check {
  padding: 20px;
}

.btn_modal {
  background: #ffffff;
  border: 6px solid #ebebeb;
  color: #22172a;
  padding: 14px 20px;
}

.btn_modal:hover {
  color: #ef081e;
}

.btn.text-bold, .header-block__rating .btn.title {
  letter-spacing: 1px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-group .btn {
  margin: 10px;
}

.modal {
  display: none;
}

.modal_call {
  width: 500px;
  max-width: 100%;
}

.modal_faq {
  width: 500px;
  max-width: 100%;
  background: #f3f3f3;
}

.modal_filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal_filter ul li {
  display: inline-block;
  padding: 4px;
}

.modal-filter {
  background: #f3f3f3;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 40px;
  text-transform: uppercase;
  padding: 6px 12px;
  border-radius: 20px;
}

.modal-filter:hover {
  text-decoration: none;
  background: #ebebeb;
}

@media all and (max-width: 768px) {
  .modal-filter {
    position: initial;
  }
}

.footer {
  background: #22172a;
  color: #ffffff;
  padding: 30px 0;
}

.footer .logo {
  width: 230px;
  height: 32px;
}

.footer .logo .path-text {
  fill: #fff;
}

.footer .nav .nav__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 18px 0 6px;
}

.footer .nav .nav__link {
  text-transform: uppercase;
  color: #86798f;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer .item {
  font-size: 12px;
  color: #86798f;
}

.footer .footer__link {
  color: #ffffff;
}

.footer .footer__link:hover {
  color: #ef081e;
}

.footer .footer__link_phone {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer .footer__link_phone:hover {
  text-decoration: none;
}

@media all and (max-width: 992px) {
  .footer .nav {
    margin-top: 20px;
  }
  .footer__contact {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .footer .nav .nav__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 0 0;
  }
}

@media all and (max-width: 576px) {
  .footer__contact {
    margin-top: 20px;
  }
}

.icon {
  width: 90px;
  height: 90px;
  position: relative;
}

.icon:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.icon:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/img/bg-icon.svg") no-repeat center/contain;
  z-index: 1;
}

.icon_security-white:before {
  background: url("/img/security-white.svg") no-repeat center/22px;
}

.icon_badge-white:before {
  background: url("/img/badge-white.svg") no-repeat center/26px;
}

.icon_archives-white:before {
  background: url("/img/archives-white.svg") no-repeat center/22px;
}

.icon_clipboard-white:before {
  background: url("/img/clipboard-white.svg") no-repeat center/26px;
}

.icon-block_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.icon-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-block__offer {
  padding: 0 10px;
}

.icon-check {
  width: 30px;
  margin-right: 10px;
  margin-top: -4px;
}

@media all and (max-width: 1400px) {
  .icon-block_inline {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .icon-block__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media all and (max-width: 768px) {
  .icon-block_inline {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .icon-block__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    line-height: 1.2em;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 576px) {
  .icon-block__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.slider .slick-slide {
  height: auto;
  outline: none;
}

.slider .slick-slide:hover, .slider .slick-slide:focus {
  outline: none;
}

.slider_license .slider-item .img-fluid {
  width: 180px;
}

.slider#study-slider .slider-item {
  padding: 0 10px;
}

.slider-numeric {
  margin-top: -30px;
  margin-bottom: 15px;
  position: relative;
  z-index: 11;
}

.slider-numeric_license {
  width: 180px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.news .news__content {
  padding: 30px;
  padding-right: 50px;
  background-image: -o-linear-gradient(320deg, #dfdfdf 0%, rgba(243, 243, 243, 0) 100%);
  background-image: linear-gradient(130deg, #dfdfdf 0%, rgba(243, 243, 243, 0) 100%);
  background-color: #f3f3f3;
  position: relative;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.news .news__content:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("/img/arrow-next.svg") no-repeat right center/contain;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.news .news__content:hover {
  background-color: #e6e6e6;
  text-decoration: none;
}

.news .news__content:hover:after {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.news .news__footer {
  background: #f3f3f3;
  padding: 10px 30px;
}

@media all and (max-width: 992px) {
  .news {
    margin-bottom: 40px;
  }
  .news.last {
    margin-bottom: 0;
  }
}

@media all and (max-width: 768px) {
  .news {
    margin-bottom: 30px;
  }
  .news.last {
    margin-bottom: 0;
  }
}

.item-block {
  padding: 30px;
  background-image: -o-linear-gradient(320deg, #dfdfdf 0%, rgba(243, 243, 243, 0) 100%);
  background-image: linear-gradient(130deg, #dfdfdf 0%, rgba(243, 243, 243, 0) 100%);
  background-color: #f3f3f3;
}

.item-block_sale {
  position: relative;
  overflow: hidden;
}

.item-block_sale:before {
  display: block;
  content: '%';
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.item-block_sale:after {
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ef081e;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.item-block_faq {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item-block_faq:before {
  display: block;
  content: '?';
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 13px;
  z-index: 2;
}

.item-block_faq:after {
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #21dfac;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.item-row::before {
  content: '';
  display: block;
  height: 1px;
  background: #d9d8d9;
  position: absolute;
  top: 24px;
  z-index: 0;
}

.item-row_col-3:before {
  width: 70%;
  left: 15%;
}

.item-row_col-4:before {
  width: 76%;
  left: 12%;
}

.item-row_inverse::before {
  background: #462c58;
}

.item-row .item {
  position: relative;
  z-index: 1;
}

.item-row .item__number {
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto 15px;
  background: url("/img/bg-icon_light.svg") no-repeat center/contain;
}

.item-row .item__number .icon-check {
  width: 14px;
  margin: 18px auto 0;
}

.item-row .item__title {
  margin-bottom: 10px;
}

.item-row .item__content {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 992px) {
  .item-block_faq {
    margin-bottom: 40px;
  }
  .item-block_faq.last {
    margin-bottom: 0;
  }
  .item-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .item-row .item {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .item-row::before {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .item-block_faq {
    margin-bottom: 30px;
  }
  .item-block_faq.last {
    margin-bottom: 0;
  }
}

@media all and (max-width: 576px) {
  .item-row .item {
    padding: 0;
  }
  .item-row .item_work-step {
    position: relative;
    width: 100%;
    padding-left: 60px;
  }
  .item-row .item_work-step .item__number {
    position: absolute;
    top: 0;
    left: 0;
  }
  .item-row .item_work-step .item__title {
    text-align: left;
  }
  .item-row .item_work-step .item__content {
    text-align: left;
    width: 100%;
  }
}

.cta-block {
  background: #22172a;
  color: #ffffff;
  padding: 40px 0;
}

.cta-block .cta-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-block .cta-block__content {
  position: relative;
  padding-left: 180px;
}

.cta-block .cta-block__content .lead {
  width: 500px;
  max-width: 100%;
}

.cta-block .cta-block__title {
  margin-top: 0;
  color: #ffffff;
}

.cta-block .cta-block__img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("/img/bg-icon_white.svg") no-repeat center/contain;
  padding: 40px;
}

.cta-block .cta-block__img .img-fluid {
  width: 22px;
}

.cta-block_check-list {
  background-image: -o-linear-gradient(320deg, #724d8d 0%, #22172a 100%);
  background-image: linear-gradient(130deg, #724d8d 0%, #22172a 100%);
  background-color: #22172a;
  color: #ffffff;
  padding: 60px 0 90px;
}

.cta-block_check-list .cta-block__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}

.cta-block_check-list .cta-block__content {
  padding: 18px 0 0;
}

.cta-block_check-list .form__agree {
  color: #f3f3f3;
}

.cta-block_check-list .form__agree .checkbox__link {
  color: #ffffff;
}

.cta-block_check-list + .maps {
  position: relative;
  z-index: 2;
  padding-top: 0px;
}

.cta-block_card {
  border-radius: 6px;
  padding: 40px;
}

.cta-block_card .cta-block__title {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #462c58;
}

@media all and (max-width: 992px) {
  .cta-block .cta-block__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cta-block .cta-block__content {
    margin-bottom: 30px;
  }
  .cta-block .cta-block__price {
    margin: 30px;
  }
  .cta-block .cta-block__btn {
    padding-left: 180px;
  }
  .cta-block_check-list {
    padding: 60px 0;
  }
  .cta-block_check-list .cta-block__title {
    font-size: 42px;
  }
  .cta-block_check-list .cta-block__content {
    margin-bottom: 0;
  }
}

@media all and (max-width: 768px) {
  .cta-block .cta-block__content {
    padding: 0;
    max-width: 100%;
  }
  .cta-block .cta-block__content .cta-block__img {
    display: none;
  }
  .cta-block .cta-block__price {
    margin: 30px 0;
    margin-right: 10px;
  }
  .cta-block .cta-block__btn {
    padding-left: 0px;
  }
  .cta-block_check-list .cta-block__title {
    font-size: 32px;
  }
}

@media all and (max-width: 576px) {
  .cta-block .cta-block__btn .btn {
    padding: 20px 30px;
  }
  .cta-block_check-list + .maps {
    padding-top: 30px;
  }
}

.post_category {
  margin-top: 60px;
  text-align: center;
}

.post_category .post__image {
  padding: 12px;
  border: 1px solid #e6d9ef;
  border-radius: 100%;
  display: inline-block;
  margin: 0 auto 20px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.post_type-study {
  width: 100%;
}

.post_type-study .post__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid #f3f3f3;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.post_type-study .post__title .btn {
  padding: 6px 12px;
}

.post_type-study .post__title_priority {
  background: #ecf7f4;
}

.post_type-study .post__title_default {
  background: #eee5f4;
}

.post_type-study .post__offer {
  padding: 30px;
  border: 1px solid #f3f3f3;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.post_link:hover {
  text-decoration: none;
}

.post_link:hover .post__image {
  background: #f3f3f3;
}

@media all and (max-width: 768px) {
  .post_category {
    margin-top: 30px;
  }
}

@media all and (max-width: 576px) {
  .post_category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
  }
  .post_category .post__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    padding: 6px;
    margin-bottom: 0;
  }
  .post_category .post__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 100px);
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    margin: 10px 0;
    margin-left: 20px;
    text-align: left;
  }
  .post_type-study .post__title {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .post_type-study .post__title .btn {
    margin-top: 6px;
  }
}

.header-block {
  background: #f3f3f3;
  padding: 30px 0;
  /* For index page */
  /* For error page */
  /* For study page*/
  /* For text page */
}

.header-block__title {
  color: #000000;
  width: 920px;
  max-width: 100%;
  margin: 0 auto 30px;
}

.header-block__content {
  margin-bottom: 30px;
}

.header-block__content.icon-block {
  width: 1120px;
  max-width: 100%;
  margin: 0 auto 30px;
}

.header-block__content .icon-block__offer {
  width: 180px;
  max-width: 100%;
}

.header-block__rating .title {
  padding-left: 40px;
  background: url("/img/star.svg") no-repeat left center/30px;
}

.header-block__rating .offer {
  color: #56585a;
}

.header-block_index {
  background: #f3f3f3 url("/img/bg-header.jpg") no-repeat center/cover;
  padding: 60px 0;
}

.header-block_error {
  background: #f3f3f3;
  padding: 90px 0;
  text-align: center;
}

.header-block_error .header-block__title {
  color: #ef081e;
  font-size: 100px;
  font-weight: 700;
}

.header-block_error .header-block__subtitle {
  color: #22172a;
  font-size: 32px;
  font-weight: 700;
}

.header-block_error .link {
  color: #ef081e;
}

.header-block_study {
  background: #ffffff;
}

.header-block_inside {
  padding: 60px 0;
}

.header-block .list-item:before {
  background: #000000;
}

.header-block .clip-svg {
  -webkit-clip-path: url(#myClip);
  clip-path: url(#myClip);
}

@media all and (max-width: 992px) {
  .header-block__title {
    font-size: 1.75rem;
  }
}

.navigation-block {
  padding: 20px 0;
  border-bottom: 10px solid #f3f3f3;
}

.navigation-block .nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation-block .nav .nav__item {
  padding: 0 10px;
}

.navigation-block .nav .nav__link {
  position: relative;
  font-size: 15px;
  letter-spacing: 0;
  padding: 4px 0;
  padding-left: 40px;
}

.navigation-block .nav .nav__link_icon-1 {
  background: url("/img/icon-1.svg") no-repeat left center/32px;
}

.navigation-block .nav .nav__link_icon-2 {
  background: url("/img/icon-2.svg") no-repeat left center/32px;
}

.navigation-block .nav .nav__link_icon-3 {
  background: url("/img/icon-3.svg") no-repeat left center/32px;
}

.navigation-block .nav .nav__link_icon-4 {
  background: url("/img/icon-4.svg") no-repeat left center/32px;
}

.navigation-block .nav .nav__link:before {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 4px;
  bottom: -30px;
  background: #e6e6e6;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.navigation-block .nav .nav__link:hover:before {
  opacity: 1;
}

@media all and (max-width: 768px) {
  .navigation-block {
    padding: 0;
    position: relative;
  }
  .navigation-block .nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .navigation-block .nav .nav__item {
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navigation-block .navigation-block__scroll {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url("/img/arrow-next.svg") no-repeat center/contain;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
  }
}

.content {
  padding: 60px 0;
  /* Offset */
  /* Background & Border */
  /* Elements */
}

.content.pt-60 {
  padding-top: 60px;
}

.content.pt-30 {
  padding-top: 30px;
}

.content.pt-0 {
  padding-top: 0px;
}

.content.pb-60 {
  padding-bottom: 60px;
}

.content.pb-30 {
  padding-bottom: 30px;
}

.content.pb-0 {
  padding-bottom: 0px;
}

.content.p-90 {
  padding: 90px 0;
}

.content_bg-grey {
  background: #f3f3f3;
}

.content_bg-violet {
  background: #22172a;
  color: #ffffff;
}

.content_bg-violet .form__agree {
  color: #f3f3f3;
}

.content_bg-violet .form__agree .checkbox__link {
  color: #ffffff;
}

.content .content__title {
  margin-bottom: 60px;
}

.content .content__title.mb-30 {
  margin-bottom: 30px;
}

.content .content__offer {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.element_ellips {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -80px;
  left: 30px;
}

.element_square {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -120px;
  right: -120px;
}

.maps {
  padding-top: 30px;
}

.maps-info {
  position: absolute;
  top: -30px;
  left: 0;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  text-align: center;
}

@media all and (max-width: 992px) {
  .element_square {
    bottom: -150px;
    right: 0;
  }
}

@media all and (max-width: 768px) {
  .content {
    /* Offset */
  }
  .content.p-md-40 {
    padding: 40px 0;
  }
  .element_ellips {
    top: -60px;
    left: 0px;
  }
  .element_square {
    display: none;
  }
}

@media all and (max-width: 576px) {
  .content {
    padding: 40px 0;
    /* Offset */
  }
  .content.pt-sm-30 {
    padding-top: 30px;
  }
  .content.pt-sm-0 {
    padding-top: 0px;
  }
  .content.pb-sm-30 {
    padding-bottom: 30px;
  }
  .content.pb-sm-0 {
    padding-bottom: 0px;
  }
  .content.p-sm-40 {
    padding: 40px 0;
  }
  .maps {
    border-top: 1px solid #f3f3f3;
  }
  .maps-info {
    position: unset;
    top: 0;
    left: 0;
    padding: 0 0 40px;
    border: none;
  }
}
