.header{
    font-family: "Gilroy";
    
    .header__logo{
        width: 230px;
        height: 32px;
    }

    .nav{
        &_mobile{
            display: none;
        }
    }
    
    .header__contact{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        .item + .item{
            margin-left: 30px;
        }
    }
    .header__link{
        &_inverse{
            color: $link-hover-color;
            &:hover{
                color: $dark-grey;
            }
        }
        &_phone{
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2px;
            position: relative;
            &:before{
                position: absolute;
                left: -32px;
                top: -2px;
                
                content:'';

                display: block;
                width: 26px;
                height: 30px;
                background: url("/img/mobile-phone.svg") no-repeat center / contain;
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    .header__nav{
        display: none;
    }
    
    &__additional{
        position: relative;
        z-index: 1;
        background: $light-grey;
        letter-spacing: 1px;
        color: $dark-grey;

        padding: 10px 0;
    }
    &__main{
        padding: 20px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    &_sticky{
        position: sticky;
        top: 0;
        background: $white;
        z-index: 101;
    }
    
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        .header__logo{
            .path-offer{
                display: none;
            }
        }
        .header__link{
            &_phone{
                display: block;
                font-size: 0;
                width: 30px;
                height: 30px;
                background: url("/img/call-answer.svg") no-repeat center / 20px;
                margin-left: auto;

                &:before{
                    display: none;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        .header__logo{
            width: 190px;
            &-col{
                overflow: hidden;
            }
            .path-offer{
                display: block;
            }
        }
        .nav{
            display: none;
            &_mobile{
                padding: 20px;
                border-bottom: 4px solid $light-grey;
                .nav__title{
                    position: relative;
                    // display: block;
                    display: flex;
                    align-items: center;

                    color: $grey;
                    padding: 8px 0 10px;
                    transition: .4s;
                    &:after{
                        content:'';
                        // display: block;
                        display: inline-block;
            
                        width: 32px;
                        height: 12px;
            
                        background: url("/img/arrow-next.svg") no-repeat center / contain;
            
                        // position: absolute;
                        // right: 10px;
                        // top: calc(50% - 8px);

                        transform: rotate(0deg);
                        transition: .4s;
                    }
                    &--active{
                        color: $red;
                        &:before{
                            transform: rotate(90deg);
                        }
                    }
                }
                .nav__item{
                    // font-weight: 700;
                    letter-spacing: 2px;
                    & + .nav__item{
                        margin-top: 10px;
                    }
                }
                .nav__link{
                    font-size: 14px;
                }
                .sep{
                    width: 100%;
                    height: 1px;
                    background: $light-grey;
                    margin: 10px 0;
                }

                .nav__hidden{
                    display: none;
                }
            }
        }
        .header__nav{
            display: block;
            width: 30px;
            height: 30px;
            margin: 0;
            margin-left: auto;
            background: url("/img/menu.svg") no-repeat center / 22px;
            cursor: pointer;
        }
        .header__link{
            &_phone{
                display: block;
                font-size: 18px;
                width: 100%;
                height: auto;
                background: none;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        &__additional{
            .container{
                padding: 0 20px;
            }
        }
        &__main{
            .container{
                padding: 0 20px;
            }
        }
        .header__logo{
            .path-offer{
                display: none;
            }
        }
        .header__contact{
            font-size: 12px;
        }
        .header__link{
            &_phone{
                display: block;
                font-size: 0;
                width: 30px;
                height: 30px;
                background: url("/img/call-answer.svg") no-repeat center / 20px;
            }
        }
    }
}