.filter-row{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    margin-left: -6px;
    margin-right: -6px;
    padding: 0;
    .filter-item{
        margin: 6px;
    }
}
.filter-item{
    padding: 4px 10px;
    background-color: #e6d9ef;
    border-radius: 4px;

    transition: .4s;
    cursor: pointer;
    &:hover{
        background-color: #d5c8df;
    }
}