.post{
    &_category{
        margin-top: 60px;
        text-align: center;
    
        .post__image{
            padding: 12px;
            border: 1px solid #e6d9ef;
            border-radius: 100%;
    
            display: inline-block;
            margin: 0 auto 20px;

            transition: .4s;
        }
    }

    &_type-study{
        width: 100%;
        .post__title{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            padding: 15px 30px;
            border: 1px solid $light-grey;
            border-bottom: none;

            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .btn{
                padding: 6px 12px;
            }

            &_priority{
                background: #ecf7f4;
            }
            &_default{
                background: #eee5f4;
            }
        }
        .post__offer{
            padding: 30px;
            border: 1px solid $light-grey;
            border-top: none;

            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    &_link{
        &:hover{
            text-decoration: none;
            .post__image{
                background: $light-grey;
            }
        }
    }

}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .post{
        &_category{
            margin-top: 30px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .post{
        &_category{
            .post__image{
                width: 120px;
                padding: 6px;
            }
        }
        &_type-study{
            .post__title{
                flex-wrap: wrap;
                .btn{
                    margin-top: 6px;
                }
            }
        }
    }
}