html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Page

        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        include chunks/header.pug
        main
            section.header-block.header-block_index
                .container
                    h1.header-block__title.text-center.text-bold Получите законные разрешительные документы 
                        | со&nbsp;скидкой до&nbsp;30%
                    .header-block__content.icon-block.icon-block_inline
                        .icon-block__item
                            .icon.icon_security-white
                            .icon-block__offer 100% гарантия результата
                        .icon-block__item
                            .icon.icon_badge-white
                            .icon-block__offer европейский уровень сервиса
                        .icon-block__item
                            .icon.icon_archives-white
                            .icon-block__offer бесплатная доставка документов
                        .icon-block__item
                            .icon.icon_clipboard-white
                            .icon-block__offer прохождение всех проверок
                    p.h5.text-bold.text-center Принцип «Единого окна» — получите все необходимые 
                        | документы и&nbsp;консультации у&nbsp;нас
                    .nav.nav_button
                        .nav__item
                            a.nav__link(href="#") Повышение квалификации
                        .nav__item
                            a.nav__link(href="#") Профпереподготовка
                        .nav__item
                            a.nav__link(href="#") Первая помощь
                        .nav__item
                            a.nav__link(href="#") Рабочие специальности
                        .nav__item
                            a.nav__link(href="#") Охрана труда
                        .nav__item
                            a.nav__link(href="#") Целевое обучение
                        .nav__item
                            a.nav__link(href="#") Электробезопасность
                        .nav__item
                            a.nav__link(href="#") Промышленная безопасность
                        .nav__item
                            a.nav__link(href="#") Охрана труда на высоте
                        .nav__item
                            a.nav__link(href="#") Пожарно-технический минимум
            section.navigation-block
                .navigation-block__scroll
                .container
                    .nav
                        .nav__item
                            a.nav__link.nav__link_icon-1(href="#") Сертификация
                        .nav__item
                            a.nav__link.nav__link_icon-2(href="#") Служба охраны труда
                        .nav__item
                            a.nav__link.nav__link_icon-3(href="#") Лицензирование 
                        .nav__item
                            a.nav__link.nav__link_icon-4(href="#") Специальная оценка условий труда
            section.content
                .container
                    .row.justify-content-center.mb-30
                        .col-5.col-md-12.col-lg-7.col-xl-6
                            h2.h1.text-center.text-bold Мы экономим Ваши деньги и время
                    .row.justify-content-center
                        .col-7.col-md-12.col-lg-12.col-xl-9.list-group
                            ul.list
                                li.list-item расскажем, как вернуть налог
                                li.list-item избавим от штрафов на 200.000 руб.
                                li.list-item комплексные услуги дешевле
                            ul.list
                                li.list-item работаем в режиме «Единого окна»
                                li.list-item оказываем услуги по всей России
                                li.list-item работаем четко в соответствии со сроками
            section.content.content_bg-grey
                .container
                    .row.justify-content-center.align-items-center
                        //- .col-4.col-sm-12.col-md-6.col-lg-5.p-relative
                        //-     svg.element.element_ellips(viewbox="0 0 250 250" preserveAspectRatio="xMinYMid meet")
                        //-         defs
                        //-             linearGradient(id="PSgrad_0" x1="0%" x2="70.711%" y1="0%" y2="70.711%")
                        //-                 stop(offset="0%" stop-color="rgb(0,204,255)" stop-opacity="1")
                        //-                 stop(offset="100%" stop-color="rgb(33,223,172)" stop-opacity="0")
                        //-         path(fill-rule="evenodd"  fill="rgb(33, 223, 172)" d="M125.000,-0.000 C194.036,-0.000 250.000,55.964 250.000,125.000 C250.000,194.035 194.036,250.000 125.000,250.000 C55.964,250.000 -0.000,194.035 -0.000,125.000 C-0.000,55.964 55.964,-0.000 125.000,-0.000 Z")
                        //-         path(fill="url(#PSgrad_0)" d="M125.000,-0.000 C194.036,-0.000 250.000,55.964 250.000,125.000 C250.000,194.035 194.036,250.000 125.000,250.000 C55.964,250.000 -0.000,194.035 -0.000,125.000 C-0.000,55.964 55.964,-0.000 125.000,-0.000 Z")                .container
                        //-     .slider-numeric.slider-numeric_license
                        //-     .slider.slider_license#index-slider
                        //-         .slider-item
                        //-             img.img-fluid(src="/img/test-01.png")
                        //-         .slider-item
                        //-             img.img-fluid(src="/img/test-02.png")
                        //-         .slider-item
                        //-             img.img-fluid(src="/img/test-03.png")
                        //-         .slider-item
                        //-             img.img-fluid(src="/img/test-04.jpg")
                        .col-5.col-sm-12.col-md-9.col-lg-7.col-xl-6.mt-sm-30.text-sm-center.p-relative.text-center
                            p.h4.text-bold Даём 100% гарантию
                            p Мы осуществляем деятельнось на&nbsp;основе выданных лицензий, поэтому можем гарантировать  
                                | прохождение всех надзорных проверок.
                            p.mb-0 Все программы соответствуют госстандартам. По&nbsp;заверешнию обучения все данные 
                                | заносятся в&nbsp;Реестр. 
                            svg.element.element_ellips(viewbox="0 0 250 250" preserveAspectRatio="xMinYMid meet")
                                defs
                                    linearGradient(id="PSgrad_0" x1="0%" x2="70.711%" y1="0%" y2="70.711%")
                                        stop(offset="0%" stop-color="rgb(0,204,255)" stop-opacity="1")
                                        stop(offset="100%" stop-color="rgb(33,223,172)" stop-opacity="0")
                                path(fill-rule="evenodd"  fill="rgb(33, 223, 172)" d="M125.000,-0.000 C194.036,-0.000 250.000,55.964 250.000,125.000 C250.000,194.035 194.036,250.000 125.000,250.000 C55.964,250.000 -0.000,194.035 -0.000,125.000 C-0.000,55.964 55.964,-0.000 125.000,-0.000 Z")
                                path(fill="url(#PSgrad_0)" d="M125.000,-0.000 C194.036,-0.000 250.000,55.964 250.000,125.000 C250.000,194.035 194.036,250.000 125.000,250.000 C55.964,250.000 -0.000,194.035 -0.000,125.000 C-0.000,55.964 55.964,-0.000 125.000,-0.000 Z")                .container
                            svg.element.element_square(viewbox="0 0 125 125" preserveAspectRatio="xMinYMid meet")
                                defs
                                    linearGradient(id="PSgrad_2" x1="64.279%" x2="0%" y1="76.604%" y2="0%")
                                        stop(offset="0%" stop-color="rgb(239,8,57)" stop-opacity="1")
                                        stop(offset="100%" stop-color="rgb(239,8,122)" stop-opacity="0")
                                path(fill-rule="evenodd"  fill="rgb(239, 8, 30)" d="M-0.000,-0.000 L125.000,-0.000 L125.000,125.000 L-0.000,125.000 L-0.000,-0.000 Z")
                                path(fill="url(#PSgrad_2)" d="M-0.000,-0.000 L125.000,-0.000 L125.000,125.000 L-0.000,125.000 L-0.000,-0.000 Z")
            section.content.p-90.p-sm-40
                .container
                    .row.justify-content-center
                        .col-8.col-sm-12.col-lg-9
                            h2.h1.text-center.text-bold.mb-30 Получите документы быстро и легко. Оставьте заявку!
                    .row.justify-content-center.mb-30
                        .col-5.col-sm-12.col-lg-9.text-center
                            p Укажите свой контактный телефон, менеджер свяжется с&nbsp;вами 
                                | и&nbsp;предложит выгодные условия сотрудничества.
                    .row.justify-content-center
                        .col-6.col-sm-12.col-md-12.col-lg-9
                            form.form.form_inline(action="")
                                .form__group
                                    input.form__input.phone(placeholder="Телефон" type="tel")
                                    a.btn.btn_cta(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
            section.maps
                .container
                    .row.justify-content-center
                        .col-6.col-sm-12.col-md-12.col-lg-9.col-xl-9.p-relative
                            .maps-info
                                p.h4.text-bold Нам доверяют клиенты по всей России
                                .row.no-gutters
                                    .col-4.col-sm-12.d-flex.justify-content-center.align-items-center
                                        p.icon-1.mb-0 Обучение
                                    .col-4.col-sm-12.d-flex.justify-content-center.align-items-center
                                        p.icon-2.mb-0 Служба охраны труда
                                    .col-4.col-sm-12.d-flex.justify-content-center.align-items-center
                                        p.icon-3.mb-0 Лицензирование
                .maps-row
                    img.img-fluid(src="/img/maps.jpg")
            section.content.p-90.p-sm-40
                .container
                    p.h4.text-bold.text-center.mb-30 Новости учебного центра
                    .row.justify-content-center
                        .col-4.col-sm-12.col-md-9.col-lg-9
                            .news
                                a.news__content(href="text.html")
                                    p.mb-0 Утверждение порядка профилактических обследований на опасных производственных объектах
                                .news__footer
                                    .row
                                        p.col-6.col-sm-12.mb-0.text-small 10 августа 2019
                                        p.col-6.mb-0.text-small.text-right.d-sm-none новости проекта
                        .col-4.col-sm-12.col-md-9.col-lg-9
                            .news
                                a.news__content(href="text.html")
                                    p.mb-0 Утверждение порядка профилактических обследований на опасных производственных объектах
                                .news__footer
                                    .row
                                        p.col-6.col-sm-12.mb-0.text-small 10 августа 2019
                                        p.col-6.mb-0.text-small.text-right.d-sm-none новости проекта
                        .col-4.col-sm-12.col-md-9.col-lg-9
                            .news
                                a.news__content(href="text.html")
                                    p.mb-0 Утверждение порядка профилактических обследований на опасных производственных объектах
                                .news__footer
                                    .row
                                        p.col-6.col-sm-12.mb-0.text-small 10 августа 2019
                                        p.col-6.mb-0.text-small.text-right.d-sm-none новости проекта
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 