html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Info Page

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.header-block.header-block_inside
                .container
                    .row.align-items-center.justify-content-center
                        .col-9.col-lg-12.col-xl-9.text-center
                            h1.header-block__title.text-bold Сведения об Образовательной организации
                        .col-6.col-lg-12.col-xl-7.text-center
                            p.lead Полное наименование организации:<br/>
                                span.text-bold Общество с ограниченной ответственностью «Smart»
                            p.lead Сокращенное название: ООО «Северный Путь»<br/>
                                span.text-bold Дата создания: 18.05.2018
                            p.lead.mb-0 Местонахождение организации (юридический, фактический адрес): 198095, Россия, г. Cанкт-Петербург, ул. Оборонная, 10 лит. А, офис 310А                            
            section.content
                .container
                    .row.justify-content-center
                        .col-9.col-lg-12
                            .toggle.toggle_with-content
                                .toggle__letter З
                                .toggle__info
                                    .toggle__title Заголовок разворачивающегося блока
                                    .toggle__intro Краткое описание содержимого блока
                                .toggle__content
                                    p Учебные занятия: Понедельник - Пятница
                                        | Количество, распределение по дням недели и последовательность занятий определяются расписанием, но не более 8 академических часов в день.
                                        | График работы образовательной организации: Понедельник - Пятница. с 10:00 до 18:00
                                        | График работы отдельных специалистов определяется индивидуально.
                                    ul.list-clean
                                        li.list-item
                                            a.link-inverse(href="#") Пример ссылки
                                    ul
                                        li.list-item 100% гарантия результата
                                        li.list-item программы согласованы с ГУ МЧС России по г. Санкт-Петербургу
                                        li.list-item бесплатная доставка
                                        li.list-item персональный менеджер
                            .toggle.toggle_with-content
                                .toggle__letter З
                                .toggle__info
                                    .toggle__title Заголовок разворачивающегося блока
                                    .toggle__intro Краткое описание содержимого блока
                                .toggle__content
                                    p Учебные занятия: Понедельник - Пятница
                                        | Количество, распределение по дням недели и последовательность занятий определяются расписанием, но не более 8 академических часов в день.
                                        | График работы образовательной организации: Понедельник - Пятница. с 10:00 до 18:00
                                        | График работы отдельных специалистов определяется индивидуально.
                                    ul.list-clean
                                        li.list-item
                                            a.link-inverse(href="#") Пример ссылки
                                    ul
                                        li.list-item 100% гарантия результата
                                        li.list-item программы согласованы с ГУ МЧС России по г. Санкт-Петербургу
                                        li.list-item бесплатная доставка
                                        li.list-item персональный менеджер
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/blazy.min.js")
        script(src="./js/fancybox.min.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 