html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.header-block
                .container
                    .row.align-items-center
                        .col-6
                            h1.text-bold.header-block__title Оформление лицензии под&nbsp;ключ 
                            ul.list
                                li.list-item 100% гарантия результата
                                li.list-item получение официальной лицензии
                                li.list-item европейский уровень сервиса
                                li.list-item персональный менеджер
                        .col-6
                            img.img-fluid(src="/img/licences.png")
            section.cta-block
                .container
                    .cta-block__row
                        .cta-block__content
                            .cta-block__img
                                img.img-fluid(src="/img/archives.svg")
                            p.cta-block__title.h3.text-bold Получите лицензию быстро и легко!
                            p.lead.mb-0 подготовка документов, сопровождение проверки 
                                | и&nbsp;профессиональный подбор специалистов
                        .cta-block__btn
                            a.btn.btn_cta.text-bold(href="#") Подать заявку
            section.content
                .container
                    .row.justify-content-center.mb-30
                        .col-7
                            h2.h1.text-center.text-bold С&nbsp;нами лицензию МЧС получают 
                                | даже те, у&nbsp;кого отсутствует:
                    .row.justify-content-center
                        .col-7.list-group.mb-60
                            ul.list
                                li.list-item специальное оборудование
                                li.list-item необходимое количество сотрудников
                                li.list-item удостоверения у сотрудников
                            ul.list
                                li.list-item необходимый пакет документов
                                li.list-item сведения о системе качества
                                li.list-item готовность к лицензионной проверке
                        .col-6
                            p.h3.text-center.text-bold Получение лицензии
                            p.text-center.mb-60 Мы чудесные и распрекрасные, любите нас все. Мы чудесные и распрекрасные, любите нас все. Мы чудесные и распрекрасные, любите нас все. 
                            .btn-group.justify-content-center
                                a.btn.btn_default.text-bold(href="#") Лицензия МЧС
                                a.btn.btn_default.text-bold(href="#") Лицензия Минкульт
            section.maps
                .container
                    .row.justify-content-center
                        .col-6.p-relative
                            .maps-info
                                p.h4.text-bold Нам доверяют клиенты по всей России
                                p.mb-0 Выдано 230 лицензий, 300 сертификатов и&nbsp;2800 человек прошли обучение 
                                    | в&nbsp;нашем учебном центре «Smart».
                .maps-row
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8743924.557771841!2d35.99382630815788!3d57.6527840967887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2z0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sua!4v1566195241271!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            section.content.p-90
                .container
                    .row.justify-content-center
                        .col-8
                            h2.h1.text-center.text-bold.mb-30 Получите документы быстро и легко. Оставьте заявку!
                    .row.justify-content-center
                        .col-5.text-center
                            p.mb-30 Укажите свой контактный телефон, менеджер свяжется с&nbsp;вами 
                                | и&nbsp;предложит выгодные условия сотрудничества.
                    .row.justify-content-center
                        .col-6
                            form.form.form_inline(action="")
                                .form__group
                                    input.form__input.phone(placeholder="Телефон" type="tel")
                                    a.btn.btn_cta(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 