html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.header-block
                .container
                    .row.align-items-center
                        .col-6
                            h1.text-bold.header-block__title Оформление лицензии МЧС под&nbsp;ключ от&nbsp;4&nbsp;недель
                            ul.list
                                li.list-item 100% гарантия результата
                                li.list-item получение официальной лицензии
                                li.list-item европейский уровень сервиса
                                li.list-item персональный менеджер
                        .col-6
                            img.img-fluid(src="/img/licences-inside.png")
            section.cta-block
                .container
                    .cta-block__row
                        .cta-block__content
                            .cta-block__img
                                img.img-fluid(src="/img/archives.svg")
                            p.cta-block__title.h3.text-bold Получите лицензию МЧС быстро и&nbsp;легко!
                            p.lead.mb-0 подготовка документов, сопровождение проверки 
                                | и&nbsp;профессиональный подбор специалистов
                        .cta-block__btn
                            a.btn.btn_cta.text-bold(href="#") Подать заявку
            .breadcrumbs-section
                .container
                    nav.breadcrumbs
                        .breadcrumbs__item
                            a.breadcrumbs__link(href="#") Главная
                        .breadcrumbs__item /
                        .breadcrumbs__item
                            a.breadcrumbs__link(href="#") Лицензии
                        .breadcrumbs__item /
                        .breadcrumbs__item Лицензия МЧС
            section.content
                .container
                    .row.justify-content-center.mb-30
                        .col-7
                            h2.h1.text-center.text-bold Когда необходима лицензия?
                            p.lead.text-center Если вы планируете заниматься монтажем, техническим обслуживанием
                                | и&nbsp;ремонтом&nbsp;систем:
                    .row.justify-content-center.mb-60
                        .col-9.list-group
                            ul.list
                                li.list-item пожаротушения и их элементов
                                li.list-item пожарной и охранной сигнализации и их элементов
                                li.list-item противопожарного водоснабжения и их элементов
                                li.list-item автоматических систем противодымной вентиляции
                            ul.list
                                li.list-item оповещения и эвакуация людей при пожаре
                                li.list-item фотолюминесцентных эвакуационных систем
                                li.list-item противопожарных занавесов и завес
                                li.list-item заполнения проемов в противопожарных преградах
                    .row.justify-content-center.mb-60
                        .col-7
                            h3.h1.text-center.text-bold С нами лицензию МЧС получают даже те, у кого отсутствует:
                    .row.justify-content-center.mb-60
                        .col-7.list-group
                            ul.list
                                li.list-item специальное оборудование
                                li.list-item необходимое количество сотрудников
                                li.list-item удостоверения у сотрудников
                            ul.list
                                li.list-item необходимый пакет документов
                                li.list-item сведения о системе качества
                                li.list-item готовность к лицензионной проверке
                    .row.justify-content-center.mb-60
                        .col-7
                            p.h3.text-center.text-bold.mb-0 А еще экономят до 200 000 рублей!
                    .row.justify-content-center
                        .col-4
                            .item-block.item-block_sale
                                p.text-bold.h6 На закупке оборудования
                                p.mb-0 ультразвуковой дефектоскоп, шумомер, 
                                    | толщиномер покрытий, дифференциальный 
                                    | манометр и многое другое оборудование
                        .col-4
                            .item-block.item-block_sale
                                p.text-bold.h6 На зарплате специалистов
                                p.mb-0 которые должны быть в&nbsp;штате компании 
                                    | в&nbsp;нужном количестве и соответствовать 
                                    | необходимой квалификации
            section.content.content_bg-violet
                .container
                    .row.justify-content-center
                        .col-6
                            h2.h3.text-center.text-bold.mb-30 Получите бесплатную консультацию эксперта «Smart»
                    .row.justify-content-center
                        .col-5.text-center
                            p.mb-30 Отправьте заявку и&nbsp;ведущий специалист по&nbsp;оформлению лицензии&nbsp;МЧС ответит на&nbsp;интересющие вас вопросы.
                    .row.justify-content-center
                        .col-6
                            form.form.form_inline(action="")
                                .form__group
                                    input.form__input.phone(placeholder="Телефон" type="tel")
                                    a.btn.btn_cta(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
            section.content.p-90
                .container
                    p.h1.text-center.text-bold.mb-60 Получить лицензию просто, как 1..2..3
                    .row.justify-content-center
                        .col-8.item-row.item-row_col-3
                            .item.item_work-step.text-center
                                p.item__number 1
                                p.item__title.text-bold Получаем информацию
                                p.item__content Вносите предоплату и&nbsp;предоставляете документы
                            .item.item_work-step.text-center
                                p.item__number 2
                                p.item__title.text-bold Готовим пакет докуметов
                                p.item__content Мы правильно формируем пакет документов
                            .item.item_work-step.text-center
                                p.item__number 3
                                p.item__title.text-bold Подаём документы
                                p.item__content Передаем готовые документы&nbsp;в&nbsp;МЧС
                        .col-12
                            p.h4.text-bold.text-center.mb-60.mt-60
                                svg.icon-check(viewbox="0 0 33 22")
                                    path(fill-rule="evenodd" fill="rgb(239, 8, 30)" d="M25.295,0.057 L12.535,13.933 L7.982,8.265 L0.716,8.265 L8.814,21.944 L16.255,21.944 L32.561,0.057 L25.295,0.057 Z")
                                span Вы получаете лицензию МЧС  
                        .col-7.text-center
                            p.mb-30 Согласно Федеральному закону № 99-ФЗ от 04.05.2011 года «О лицензировании отдельных видов деятельности» всем организациям для выполнения работ по монтажу, ремонту и техническому обслуживанию средств обеспечения пожарной безопасности зданий и сооружений необходимо оформить лицензию МЧС (пожарную лицензию)
                            p.mb-0
                                img.img-fluid(src="/img/licences.png")
            section.cta-block.cta-block_check-list
                .container
                    .row.justify-content-center
                        .col-4
                            p.cta-block__title Бесплатный чек-лист
                            form.form.form_inline(action="")
                                .form__group
                                    input.form__input(placeholder="Ваш e-mail" type="email")
                                    a.btn.btn_cta.btn_check(href="#")
                                        svg(x="0px" y="0px" width="15px" viewBox="0 0 45.701 45.7")
                                            path(fill="#fff" d="M20.687,38.332c-2.072,2.072-5.434,2.072-7.505,0L1.554,26.704c-2.072-2.071-2.072-5.433,0-7.504c2.071-2.072,5.433-2.072,7.505,0l6.928,6.927c0.523,0.522,1.372,0.522,1.896,0L36.642,7.368c2.071-2.072,5.433-2.072,7.505,0c0.995,0.995,1.554,2.345,1.554,3.752c0,1.407-0.559,2.757-1.554,3.752L20.687,38.332z")
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данных
            
                        .col-4
                            .cta-block__content
                                p Мы вышлем чек-лист на почту, чтобы вы могли себя поверить. В документе вы найдете: 
                                ul.list
                                    li.list-item список документов необходимых для получения 
                                    li.list-item лицензии ИП и организаций,
                                    li.list-item перечень необходимого оборудования,
                                    li.list-item виды документы на сотрудников,
                                    li.list-item поводы для отказа
            section.maps
                .container
                    .row.justify-content-center
                        .col-6.p-relative
                            .maps-info
                                p.h4.text-bold Нам доверяют клиенты по всей России
                                p.mb-0 Выдано 230 лицензий, 300 сертификатов и&nbsp;2800 человек прошли обучение 
                                    | в&nbsp;нашем учебном центре «Smart».
                .maps-row
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8743924.557771841!2d35.99382630815788!3d57.6527840967887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2z0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2sua!4v1566195241271!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            section.content.p-90
                .container
                    .row.justify-content-center.mb-60
                        .col-7
                            p.h3.text-center.text-bold.mb-0 Популярные вопросы о лицензии МЧС
                    .row.justify-content-center
                        .col-4.d-flex
                            .item-block.item-block_faq
                                p.text-bold.h6 Что может послужить поводом для&nbsp;отказа?
                                p.mb-0 Мы осуществляем деятельнось на основе выданных лицензий, поэтому можем гарантировать прохождение всех надзорных проверок. Все программы соответствуют.
                        .col-4.d-flex
                            .item-block.item-block_faq
                                p.text-bold.h6 В каких случаях требуется переоформление?
                                p.mb-0 Мы осуществляем деятельнось на основе выданных лицензий, поэтому можем гарантировать прохождение проверок. Все программы соответствуют госстандартам.
                        .col-4.d-flex
                            .item-block.item-block_faq
                                p.text-bold.h6 Что грозит лицензиату в&nbsp;случае выявления нарушений?
                                p.mb-0 Мы осуществляем деятельнось на основе выданных лицензий, поэтому можем гарантировать прохождение всех проверок.
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 