html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.header-block.header-block_study
                .container
                    .row.align-items-center
                        .col-6
                            h1.text-bold.header-block__title Пожарно-технический минимум без&nbsp;отрыва от&nbsp;работы
                            ul.list
                                li.list-item 100% гарантия результата
                                li.list-item получение официальной лицензии
                                li.list-item европейский уровень сервиса
                                li.list-item персональный менеджер
                            .header-block__rating.mt-60
                                .title 4.7 из 5
                                .offer 429 человек уже прошли обучение
                        .col-6
                            img.img-fluid(src="/img/test-page.png")
            section
                .container
                    .cta-block.cta-block_card
                        p.cta-block__title.h3.text-bold Получите документы быстро и легко 
                        .cta-block__row
                            ul.list-clean
                                li.list-item — удостоверение ПТМ на 1-3 года (с внесением в реестр)
                                li.list-item — выписка из протокола
                                li.list-item — сроки оформления удостоверения - 1 день
                            .cta-block__price
                                p.text-bold.h4 1500 руб.
                                p.text-grey.mb-0 стоимость обучения
                            .cta-block__btn
                                a.btn.btn_cta.text-bold(href="#") Записаться на курс
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 