html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page

        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.header-block.header-block_inside
                .container
                    .row.align-items-center.justify-content-center
                        .col-9.col-xl-9.col-lg-12.text-center
                            h1.header-block__title.text-bold Заголовок H1
                            p.header-block__offer Quia dolor sit, aspernatur aut perferendis doloribus asperiores repellat. eveniet, ut. Ipsa, quae ab illo inventore veritatis et quas molestias excepturi sint. Similique sunt in ea commodi autem quibusdam.
            section.content.content_text-page
                .container
                    .row.justify-content-center
                        .col-7.col-lg-10.col-md-12.text-center.mb-30
                            h2.text-bold Заголовок H2
                            p Laudantium, totam rem aperiam eaque ipsa, quae. Ipsa, quae ab illo inventore veritatis et dolorum fuga. Nemo enim ad minima veniam, quis nostrum exercitationem ullam. Alias consequatur aut rerum hic tenetur.
                        .col-9.col-xl-9.col-lg-12.col-md-12.list-group.mb-60
                            ul.list
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                            ul.list
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                                li.list-item quae ab illo inventore
                        .col-9.col-xl-9.col-lg-12.col-md-12
                            h5.text-bold Содержание
                            ol
                                li 
                                    a.scroll(href="#scroll1") Ссылка-якорь 1
                                li
                                    a.scroll(href="#scroll2") Ссылка-якорь 2
                                li
                                    a.scroll(href="#scroll3") Ссылка-якорь 3
                                li
                                    a.scroll(href="#scroll4") Ссылка-якорь 4
                            h2#scroll1 Lorem ipsum dolor sit amet
                            p Ipsam voluptatem, quia non recusandae. Obcaecati cupiditate non numquam eius modi tempora incidunt. 
                                | Velit esse, quam nihil impedit, quo minus id quod. Esse, quam nihil impedit, quo minus id, quod 
                                | maxime placeat, facere possimus. Sint, obcaecati cupiditate non provident.
                            h3#scroll2 Labore et accusamus et quasi
                            p Exercitationem ullam corporis suscipit laboriosam, nisi ut perspiciatis, unde omnis voluptas. 
                            p Dolorem eum fugiat, quo minus. Ad minima veniam, quis nostrum. Ab illo inventore veritatis et aut 
                                | perferendis doloribus asperiores repellat.. Molestias excepturi sint, obcaecati cupiditate.
                            h3#scroll3 Sunt, explicabo eum iure reprehenderit, qui ratione
                            p Deserunt mollitia animi, id est eligendi optio, cumque nihil. Alias consequatur aut reiciendis voluptatibus maiores alias. Quibusdam et quasi architecto beatae vitae dicta sunt, explicabo culpa. Error sit voluptatem sequi nesciunt, neque porro quisquam est, qui in.
                            h4#scroll4 Reprehenderit, qui in culpa, qui blanditiis praesentium voluptatum deleniti atque corrupti
                            p Quo voluptas assumenda est, qui blanditiis praesentium voluptatum deleniti atque corrupti quos. Voluptates repudiandae sint et iusto. Cumque nihil impedit, quo voluptas. Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis.
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/blazy.min.js")
        script(src="./js/fancybox.min.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js") 